{% extends "main.html" %}

{% block content %}
{% load static %}
<section class="section mt-5 d-flex align-items-center justify-content-center" style="height:100vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-md-offset-6">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputQuestion"><h4>Input your question</h3></label>
            <input name="question" type="text" required="True" class="form-control" id="exampleInputQuestion"
              aria-describedby="GPTHelp" placeholder="Enter question...">
            <small id="QuestionHelp" class="form-text text-muted">We'll never share your Question with anyone
              else.</small>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" value="Submit" type="submit" onclick="showLoaderOnClick()">
              <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload
            </button>
          </div>
        </form>
        <label for="Output"><h3>Chat GPT's answer:</h3></label>
        <p style="background-color: #d2f4d3">{{response.answer |safe}}</p>        
      </div>
      <div class="history col-md-6 col-sm-6 col-md-offset-6">
        <h3>Latest Questions:</h3>
        {% if questions %}
        {% for question in questions %}
        <div class="col-md-4 col-sm-4 col-md-offset-4">
            <p class="text-justify">{{question |safe}}</a>
        </div>
        {% endfor %}
        {% else %}
            <h4>No questions saved yet</h4>
    </div>  
    {% endif %}    
    </div>
  </div>
</section>
{% load static %}
{% endblock content %}
